


body{
     background-color: #9ff694;
     font-family: "Poppins", sans-serif;
     color: darkslategrey;
}

#About{
    margin: 10px;
    padding: 10px;
    text-align: center;
   
}
#Experience{
    margin: 10px;
    padding: 10px;
    justify-content: center;    
    text-align: center;
    align-items: center;
    
    

}

.experience-list{
    
     text-align: center;
     align-items: center;
     list-style: none;
     justify-content: center;  
     display: flex;   
     padding: 10px;
     border: 10px;
     gap: 16px;
    
    
}

.experience-list li {
     background: #f5f5f5;
     padding: 16px 20px;
     margin-bottom: 12px;
     border-radius: 8px;
     font-size: 18px;
     font-weight: 500;
     border: 10px;
     
   
}

#Connect{
    margin: 10px;
    padding: 10px;
    list-style: none;
    text-align: center;
    transition: all 0.3s ease;
    color: #0077ff;
    
}

.my-paragraph{
    font-size: 20px;
    font-style: italic;
}


.social-links a {
  display: inline-block;
  padding: 10px 18px;
  color: #2563eb;
  border: 2px solid #2563eb;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: #2563eb;
  color: #ffffff;
  transform: translateY(-4px);
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}


#image{
    text-align: center;
}
h1{
    text-decoration: underline;
    font-size: 35px;
    font-weight: 500;
    color: blue;
    font-family: 'Raleway', sans-serif;
    color: #0077ff;
    text-align: center;
    text-shadow: 2px 20px 5px rgba(0, 0, 0, 0.3);
   

}

h2{
    font-size: 30px;
    text-decoration: underline;
    font-weight: 500;
    color:chocolate;
}
